@{
    ViewBag.Title = "Slice of Pie";
    ViewBag.Message = "Viewer";
}
@section imports {
    @Styles.Render("~/Content/Viewer.css")
    @Styles.Render("~/Content/Menu.css")
    @Styles.Render("~/Content/colorbox.css")
    @Scripts.Render("~/Scripts/jquery.colorbox-min.js")
}
@section header {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
@section js {
    $('#ShowHistory').colorbox();
}
<section class="viewer">
    <ul id="document-menu">
        <li>
            <a href="@Url.Action("Editor", "Default")?id=@ViewBag.Id">
                <img src="@Url.Content("~/Images/edit_big.png")" />
            </a>
            <a id="ShowHistory" href="@Url.Action("History", "Default")?id=@ViewBag.Id">
                <img src="@Url.Content("~/Images/history.gif")" />
            </a>
        </li>
    </ul>
    <div class="content-wrapper">
        @Html.Raw(ViewBag.Document)
    </div>
</section>