@model SliceOfPie_OnlineGUI.Models.LoginModel

@{
    ViewBag.Title = "Slice of Pie";
    ViewBag.Message = "Login";
}

@section header
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new {ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserEmail)
                @Html.TextBoxFor(m => m.UserEmail)
                @Html.ValidationMessageFor(m => m.UserEmail)
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
